*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Dosis','Times New Roman', sans-serif;
    font-size: $fs-8;
    color: $color-black-0;
    background-color: $color-white-0;
}
.color-purple {
    background-color: $color-purple-1;
}
.color-pink {
    background-color: $color-pink-0;
}
.color-gray {
    background-color: $color-gray-3;
}
.color-red {
    background-color: $color-red-0;
}
.color-orange {
    background-color: $color-orange-0;
}
.color-yellow {
    background-color: $color-yellow-1;
}
.slidingVisibility {
    visibility: hidden;
}