.backToTop{
    width: 44px;
    height: 44px;
    background-color: $color-black-1;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    i{
        color: $color-white-0;
        line-height: $line-height-1;
    }
}